<!-- jumbo -->
<div class="jumbotron">
  <h1 class="display-4">{{title}} / {{ id }}</h1>
  <p class="lead">{{ records.title }}</p>
  <hr class="my-4">
  <p>{{ records.description }}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<!-- jumbo -->

<!-- next -->
<div style="width: 100%;">
    <a href="/read/{{ next }}/{{ limit }}">Next</a>
</div>
<!-- next -->