<!-- h1 -->
<h1>{{title}} / {{ id }} / {{ limit }}</h1>
<!-- h1 -->


<!-- table -->
<table class="table">

    <!-- thead -->
    <thead>

        <!-- tr -->
        <tr>

            <!-- th -->
            <th>Id</th>
            <!-- th -->

            <!-- th -->
            <th>Record</th>
            <!-- th -->

        </tr>
        <!-- tr -->

    </thead>
    <!-- thead -->

    <!-- tbody -->
    <tbody>

        <!-- tr -->
        <tr>
            
            <!-- td -->
            <td>
                <!-- link -->
                <a href="/details/{{ id }}/{{ limit }}">{{ id }}</a>
                <!-- link -->
            </td>            
            <!-- td -->

            <!-- td -->
            <td>{{ records.title }}</td>            
            <!-- td -->

        </tr>
        <!-- tr -->

    </tbody>
    <!-- tbody -->

</table>
<!-- table -->