<!-- h1 -->
<h1>{{title}}</h1>
<!-- h1 -->


<!-- table -->
<table class="table">

    <!-- thead -->
    <thead>

        <!-- tr -->
        <tr>

            <!-- th -->
            <th>Id</th>
            <!-- th -->

            <!-- th -->
            <th>Record</th>
            <!-- th -->

        </tr>
        <!-- tr -->

    </thead>
    <!-- thead -->

    <!-- tbody -->
    <tbody>

        <!-- tr -->
        <tr>
            
            <!-- td -->
            <td>
                <!-- link -->
                <a href="http://192.168.0.7:3000/read">1</a>
                <!-- link -->
            </td>            
            <!-- td -->

            <!-- td -->
            <td>Content here</td>            
            <!-- td -->

        </tr>
        <!-- tr -->

    </tbody>
    <!-- tbody -->

</table>
<!-- table -->